---
---

$header-bg-color: #085899; //1e6bb8
$header-bg-color-secondary: #457999; //#7EA7D3

$body-link-color: #7EA7D3;
$blockquote-text-color: #819198;

$section-headings-color: #0217D4;

$code-text-color: #494D4E;

@import "{{ site.theme }}";
